$font-family: 'Poppins', sans-serif;
$color-primary: #000;
$color-secondary: #ff5e00;
$color-tertiary: #00aeff;
$color-background: #f8f9fa;
$color-hover-primary: #ff3c00;
$color-hover-secondary: #0066ff;

$font-size-large: 32px;
$font-size-medium: 22px;
$font-size-small: 17px;
$font-size-xsmall: 16px;

$padding-main: 20px 8%;
$border-radius: 6px;
